extends layouts/main

block content
    .video__player
        video(src=`/${Video.fileUrl}`, controls) 
    .video__info
        a(href=routes.editVideo(Video.id)) Edit video
        h5.video__title=Video.title
        span.video__views=Video.views
        p.video__description=Video.description
    